{% extends 'base.html' %}

{% block title %}
euler function
{% endblock %}

{% block body %}

<body class="text-center">

<main class="form-signin w-100 m-auto">

    <h1 class="h3 mb-3 fw-normal">Please enter a number</h1>

    <div class="form-floating">
        <form method="post">

            <input type="int" class="form-control" name="num" placeholder="Number">

            <button class="w-100 btn btn-lg btn-primary" type="submit">Calculate</button>
        </form>

    </div>


</main>


</body>

{% endblock %}